
$font-family-base:'Open Sans', sans-serif;

//update default bootstrap variables or access variables here.

$navbar-padding-x: 25px;

$navbar-nav-link-padding-x: 15px;

$nav-link-font-size:1rem;

$primary_color : #0a4030;
$secondary_color : #0a4936;
$light_bg:#86968d;

@mixin transition_delay($time_delay:600ms){
    transition: all $time_delay;
}


@mixin overlay($background-color:transparent){

        content: '';
        position: absolute;
      
        width: 100%;
        height: 100%;

        top:0;
        left:0;
        background-color: $background-color;


}


@mixin titleBar($width:72px, $margin:16px 0, $height:1px, $background: $primary_color){
    content: "";
    position: relative;
    display: block;

    width: $width!important;
    margin: $margin !important;
    height: $height;
    background: $background;

    }




@import "../node_modules/bootstrap/scss/bootstrap.scss";


@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Libre+Baskerville:ital@0;1&display=swap');


@font-face {
    font-family: Geosans;
    src: url(../assets/fonts/GeosansLight.ttf);
}


@font-face {
    font-family: Geosans;
    src: url(../assets/fonts/GeosansLight-Oblique.ttf);
    font-style: italic;
}

//Rest code below



html{ font-size: 1rem;}

body{
    
    font-family: Geosans;  line-height: 1.5;     color: #242427; font-size: 1.25rem;
    
}
.Geosans{
font-family: Geosans; 
}
.main-color{ color:$primary_color;}

.mt-6{margin-top:4rem!important; }

.mb-6{margin-bottom:4rem!important; }

.p-6{padding:4rem!important; }

.pt-6{padding-top:4rem!important; }

.pb-6{padding-bottom:4rem!important; }

.form-control{
    border: 0;
  
border-radius: 0;
border-bottom: solid 1px #9db0a5;
}

textarea.form-control{ height: 50px;}


  .form-label {
    color: #546e7a;
    font-size: 1rem;
  }

  .text-shadow{text-shadow: 0 1px 1px #000000bf;}


h1, h2, h3, h4, h5, h6{font-family: 'Libre Baskerville', serif; font-weight: 400; margin-bottom: .8rem; }

.blog-text{ max-width: 389px!important;}

.title{ position: relative;


    &::after{
        
        @include titleBar();

      
    
    }

}

.color-primary{color:$primary_color; }

a{ text-decoration: none;}
.site-header{

    padding:15px 0; 
    transition: 200ms all;

    background-color: #fff;

    border-style: solid!important;
    border-color: #c1c1c1 #c1c1c1 $primary_color!important;
    border-width: 0 0 2px!important;

    .site-header__logo{ img { max-width: 200px; width:100%; transition: 200ms all; }}
}

.nav-link{color:$primary_color; }

.site-header--medium{
    padding:8px 0; 
    .site-header__logo{ img{
    max-width: 150px!important;
    }}

    .btn-primary.m-2{ margin:0.2rem!important; transition: 200ms all;}
}

.btn{max-width: 214px;
    min-height: 54px;
    width: 100%; font-family: 'Libre Baskerville', serif; 
    font-size: 14px;
    border: solid 2px;
    border-radius: 0;
    padding: 0.875rem;}

    .btn-primary{
        border-color:$primary_color;
        background-color:transparent;
        color:#2a2b2c;

        &:hover{background-color: #9db0a5; color:#fff;  border-color:#9db0a5; }
    }


    
    .photo-gallery__thumb-img{  background-size: cover!important; position: relative;
       min-height: 723px!important;

       .photo-gallery__title{ position: relative; z-index: 2; 
    
        color: $primary_color;
        text-transform: uppercase;
        font-size: 1.6rem; font-family: Arial, Helvetica, sans-serif;
        opacity: 0;
        font-weight: bolder; transition: .2s ease-in-out;
      }
    
   
      &:hover{

        

        .photo-gallery__title{ font-size: 1.5rem; opacity: 1;}

    }


       &::before{
        @include overlay(transparent);
        transition: .2s ease-in-out;
        opacity: 0;
        z-index: -1;
       }

       &:hover::before{
        background-color: #fff;
        opacity: .7;
        z-index: 1;
       }
    
    }

    
.about-us{ background:#d4dad4!important; 

    .h1{color:$primary_color; text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12.3px;    font-family: Geosans;  
    }

    

}

    .card-wrapper{

        .card-img, .card-img-top{ border-radius: 0;}
       
        .card{ border-radius: 0; max-width: 25rem; width:100%;  cursor: pointer;
        


           .card-text {font-family: 'Libre Baskerville', serif; font-weight: 400; font-size: 1.625rem; color:$primary_color;}

           img{max-height: 200px;
            transition:all 600ms; 
            object-fit: cover;}


            &:hover img{ opacity: .7; }
        
        
        }



    }

.contact-us{
    
    .g-5, .gy-5 {
        --bs-gutter-y: 5.5rem!important;
      }
      .g-5, .gx-5 {
        --bs-gutter-x: 5.5rem!important;
      }
    }

.gray{
    filter: grayscale(1);
}


.site-footer{ background-color: #000000fa;  color:#fff; a{  color:#fff; }}

.site-footer__bottom{ background:rgba(0,0,0,1)}

.social-icons{

    li{ 
        
       

       
    
    
        a{ 
            
            @include transition_delay(600ms);
            
            border:solid 1px $light_bg; color: #fff;  width: 49px;  height: 49px;  background-color: $light_bg; display: flex; border-radius:100%;
        
            justify-content: center; align-items: center;


            &:hover{

                background-color: transparent;

            }
        
        }
    }

}


.page-slider{ min-height: 470px;

    .title{ position: relative;


        &::after{


            @include titleBar( 62px, 16px auto 22px, 2px,  #fff )


        }}

    

}


.moveUp{ animation: moveUp 1s ease-in-Out 500ms;  animation-fill-mode: backwards; }

.overlay{ position:relative;  background-attachment: fixed; @include transition_delay(10ms);

    &::after{
        @include overlay(rgba(0,0,0,1));
        opacity: .25;

    }

}


#map{ position: relative; cursor: pointer;
    &::after{
        @include overlay(rgba(0,0,0,0));
        opacity: 0;

    }

}

.thumbs{


    a{

    


         
          
          
          img{object-fit: cover; height: 200px; width: 250px; margin:0 5px;
    
    
       
        
          }

      
        

    }


}
.move{ opacity: 0;}


.move:first-child{transform: translateX(-100%);
    }

    .move:last-child{transform: translateX(100%);
           }


.moveFromLeft{animation: moveFromLeft 1s ease-in-Out 500ms;  animation-fill-mode: backwards; }

.moveFromRight{animation: moveFromRight 1s ease-in-Out 500ms;  animation-fill-mode: backwards; } 

@keyframes moveUp{

    0%{
        transform: translateY(100%);
        opacity: 0;
    }

    100%{transform: translateY(0);
        opacity: 1;}
    
}


@keyframes moveFromLeft{

    0%{
        transform: translateX(-100%);
        opacity: 0;
    }

    100%{transform: translateX(0);
        opacity: 1;}
    
}



@keyframes moveFromRight{

    0%{
        transform: translateX(100%);
        opacity: 0;
    }

    100%{transform: translateX(0);
        opacity: 1;}
    
}

