
$font-family-base:'Open Sans', sans-serif;

//update default bootstrap variables or access variables here.

$navbar-padding-x: 25px;

$navbar-nav-link-padding-x: 15px;

$nav-link-font-size:.875rem;

$color_main : #0a4030;




@import "../node_modules/bootstrap/scss/bootstrap.scss";


@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Libre+Baskerville:ital@0;1&display=swap');




//Rest code below

body{font-family: 'Comfortaa', cursive; line-height: 1.5;     color: #242427;
    
}

.main-color{ color:$color_main;}

h1, h2, h3, h4, h5, h6{font-family: 'Libre Baskerville', serif; font-weight: 400; }

.blog-text{ font-size: 1rem; max-width: 389px!important;}

.title{ position: relative;


    &::after{content: "";
        position: relative;
        display: block;
        width: 72px !important;
        margin: 16px 0 !important;
        height: 1px;
        background: #0a4030;}

}

a{ text-decoration: none;}
.site-header{

    padding:15px 0; 
    transition: 200ms all;

    background-color: #fff;

    border-style: solid!important;
    border-color: #c1c1c1 #c1c1c1 #0a4030!important;
    border-width: 0 0 2px!important;

    .site-header__logo{ img { max-width: 142px; width:100%; transition: 200ms all; }}
}

.nav-link{color:$color_main; }

.site-header--medium{
    padding:8px 0; 
    .site-header__logo{ img{
    width: 35%!important;
    }}

    .btn-primary.m-2{ margin:0.2rem!important; transition: 200ms all;}
}

.btn{max-width: 214px;
    height: 54px;
    width: 100%; font-family: 'Libre Baskerville', serif; 
    font-size: .92rem;
    border-radius: 0;
    padding: 0.875rem;}

    .btn-primary{
        border-color:#0a4030;
        background-color:transparent;
        color:#2a2b2c;

        &:hover{background-color: #9db0a5; color:#fff;  border-color:#9db0a5; }
    }


    
    .photo-gallery__thumb-img{  background-size: cover!important; position: relative;
       min-height: 723px!important;

       .photo-gallery__title{ position: relative; z-index: 2; 
    
        color: #0a4030;
        text-transform: uppercase;
        font-size: 1.6rem;
        opacity: 0;
        font-weight: bolder; transition: .2s ease-in-out;
      }
    
   
      &:hover{

        

        .photo-gallery__title{ font-size: 1.5rem; opacity: 1;}

    }


       &::before{
        content: '';
        position: absolute;
        transition: .2s ease-in-out;
        width: 100%;
        height: 100%;
        background-color: transparent;
        opacity: 0;
        z-index: -1;
       }

       &:hover::before{
        background-color: #fff;
        opacity: .7;
        z-index: 1;
       }
    
    }

    
.about-us{ background:#d4dad4!important; 

    .h1{color:$color_main; text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12.3px;    font-family: 'Comfortaa', cursive;  
    }

    

}

    .card-wrapper{

        .card-img, .card-img-top{ border-radius: 0;}
       
        .card{ border-radius: 0; max-width: 25rem; width:100%;  cursor: pointer;
        


           .card-text {font-family: 'Libre Baskerville', serif; font-weight: 400; font-size: 25px; color:$color_main;}

           img{max-height: 200px;
            transition:all 600ms; 
            object-fit: cover;}


            &:hover img{ opacity: .7; }
        
        
        }



    }